---
---

$fa-font-path: '{{ site.baseurl }}/assets/webfonts';

// $body-bg: #000;
// $body-color: #111;
// $jumbotron-bg: #ccc;

@import 'conference';

a {
    color: blue;
}

h1.display-3 {
    text-align: center;
}